<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./css/style.css')}}">
    </head>
    <body>
    
        <h1>***Checkerboard***</h1>
    
        {% for i in range(x) %}
            {% for j in range(y) %}
                {% if i%2 != 0 %}
                    {% set c1 = col1 %}
                    {% set c2 = col2 %}
                {% else %}
                    {% set c1 = col2 %}
                    {% set c2 = col1 %}
                {% endif %}

                {% if j==0 %}
                <div class=row >
                    <div class="box" style="background-color:{{ c1 }}"></div>
                {% elif j%2 ==0  %}
                    <div class="box" style="background-color:{{c1 }}"></div>
                {% elif j%2 !=0  %}
                    <div class="box" style="background-color:{{ c2 }}"></div>
                {% endif %}
                {% if j== y-1 %}
                </div>    
                {% endif %}


            {% endfor %}    
        {% endfor %}
       
    </body>
</html>